
* {
  border-radius: 0 !important;
}
body{
	padding-top: 20px;
	padding-bottom: 20px;
}
html, body, .container-fluid, .row {
	height: 100%; 
}

.sidenav{
	height: 100%;
}

.content{
	margin-left: 20px;
	height: 100%;
}